* {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  border-collapse: collapse;
  border-radius: 2em;
  overflow: hidden;
}
body {
  background-image: linear-gradient(to bottom right, #614385, #516395, #004e92);
}
a {
  cursor: default;
  font-size: 40px;
  font-weight: 800;
  font-family: "Be Vietnam Pro", sans-serif;
  text-decoration: none;
}
/*DEL FROM HERE*/
a::before {
  transform: scaleX(0);
  transform-origin: right;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: top;
}
a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}
/*TO HERE*/
table {
  border-collapse: collapse;
  height: 20%;
  width: 100%;
  border: 100px;
  /* border-color: black; */
  cursor: default;
  font-size: 22px;
  font-weight: 800;
  font-family: "Be Vietnam Pro", sans-serif;
  border-spacing: 20px;
  border-collapse: separate;
}

#tc1 {
  background-color: aqua;
  padding-bottom: 30px;
  padding-top: 30px;
}
#tc2 {
  background-color: aqua;
  padding-bottom: 30px;
  padding-top: 30px;
}
#tc1:hover {
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 30px;
}
#tc2:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 30px;
}
.td1 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td2 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td3 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td4 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td5 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td6 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td1:hover {
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
.td2:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
.td3:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
.td4:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
.td5:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
.td6:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#te1:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#te1 {
  background-color: palevioletred;
}
#te2:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#te3:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#te4:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#te5:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#te6:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#te7:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#tf1:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#tf2:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#tf3:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#tf4:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#tf5:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
#tf6:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 34px;
}
