* {
  font-size: 16.2px;
  font-weight: 800;
  text-align: center;
  border-collapse: collapse;
  border-radius: 2em;
  overflow: hidden;
  font-family: "Be Vietnam Pro", sans-serif;
  user-select: none;
}
body {
  background-image: linear-gradient(to bottom right, #614385, #516395, #004e92);
}
#koshi{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 2px;
    left: 2px;
}
#koshi:hover{
    width: 120px;
    height: 120px;
    transition: 2s;
}
#links{
    text-decoration: none;
    background-color: #1f70f2;
    border: 20px #1f70f2;
    padding: 1em 1.5em;
    text-align: center;
    margin-left: 20px;
    color: rgb(8, 217, 224);
    

}
#links:hover{
    font-size: 20px;
    transition: 2s;
    background-color: rgb(14, 53, 226);
    color: rgb(8, 217, 224);
}
.title{
  cursor: default;
  font-size: 40px;
  font-weight: 800;
  font-family: "Be Vietnam Pro", sans-serif;
  text-decoration: none;
  color: #004e92;
}
/*DEL FROM HERE*/
.title::before {
  transform: scaleX(0);
  transform-origin: right;
}

.title:hover::before {
  transform: scaleX(1);
  transform-origin: top;
}
.title::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}
/*TO HERE*/
table {
  border-collapse: collapse;
  height:10%;
  width: 100%;
  border: 100px;
  /* border-color: black; */
  cursor: default;
  font-size: 18px;
  font-weight: 800;
  font-family: "Be Vietnam Pro", sans-serif;
  border-spacing: 18px;
  border-collapse: separate;
  padding-top: -200px;
}


#tc1 {
  background-color: aqua;
  padding-bottom: 30px;
  padding-top: 30px;
}
#tc2 {
  background-color: aqua;
  padding-bottom: 30px;
  padding-top: 30px;
}
#tc1:hover {
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 30px;
}
#tc2:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
.td1 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td2 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td3 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td4 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td5 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td6 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f70f2;
}
.td1:hover {
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
.td2:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
.td3:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
.td4:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
.td5:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
.td6:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#te1:hover {
  background-color: grey;
  transition: 0.8s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#te1 {
  background-color: palevioletred;
}
#te2:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#te3:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#te4:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#te5:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#te6:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#te7:hover {
  background-color: rgb(97, 85, 85);
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#tf1:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#tf2:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#tf3:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#tf4:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#tf5:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#tf6:hover {
  background-color: grey;
  transition: 2s;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 2s;
  font-size: 25px;
}
#tg1:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#tg2:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#tg3:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#tg4:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#tg5:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#tg6:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#th1:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#th2:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#th3:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#th4:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#th5:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#th6:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#ti1:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#ti2:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
} 

#ti3:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}

#ti4:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#ti5:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#ti6:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px; 
}
#tj1:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px; 
}
#tj2:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#tj3:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#tj4:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#tj5:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
}
#tj6:hover{
    background-color: grey;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 2s;
    font-size: 25px;
  
}

